body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #EAE2B7;
  color: #003049; 
  line-height: 1.6;
}

header {
  background-color: #003049; 
  color: #EAE2B7; 
  padding: 20px 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
}

nav h1 {
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: #FCBF49;
  font-family: 'Playfair Display', serif; 
}


nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #EAE2B7;
  font-weight: 500;
  transition: color 0.3s;
  font-family: 'Poppins', sans-serif;
}

nav ul li a:hover,
nav ul li a.active {
  color: #FCBF49; 
}

.about {
  text-align: center;
  padding: 60px 10%;
}

.about h2 {
  color: #D62828; 
  font-size: 32px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

.about p {
  font-size: 17.6px;
  max-width: 700px;
  margin: 10px auto;
}

.education {
  padding: 60px 10%;
  background-color: #FCBF49; 
  text-align: center;
}

.education h2 {
  color: #D62828; 
  margin-bottom: 40px;
}

.edumain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.edu {
  background-color: #F77F00; 
  color: #EAE2B7;
  border: 3px solid #003049;
  border-radius: 15px;
  width: 280px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  box-shadow:  5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.edu:hover {
  transform: translateY(-5px);
  box-shadow:  8px 15px rgba(0, 0, 0, 0.3);
}

.edu h3 {
  margin-bottom: 10px;
}



