* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #EAE2B7; 
  color: #003049; 
  display: flex;
  flex-direction: column;
  min-height: 900px;
}

header {
  background-color: #003049; 
  color: #EAE2B7; 
  padding: 16px 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

nav h1 {
  font-size: 24px;
  color: #FCBF49;
  font-family: 'Playfair Display', serif; 
}

nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

nav ul li a {
  text-decoration: none;
  color: #EAE2B7; 
  font-weight: 500;
  transition: 0.3s;
  font-family: 'Poppins', sans-serif;
}

nav ul li a:hover,
nav ul li a.active {
  color: #F77F00; 
  border-bottom: 2px solid #F77F00;
}

.contact {
  flex: 1;
  text-align: center;
  padding: 48px 16px;
  background-color: #FCBF49; 
  border-radius: 12px;
  width: 80%;
  margin: 32px auto;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.contact h2 {
  font-size: 32px;
  color: #003049; 
  margin: bottom 24px;;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

form input,
form textarea {
  padding: 12.8px;
  border: 2px solid #003049;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

form input:focus,
form textarea:focus {
  border-color: #D62828; 
  box-shadow:  5px #D62828;
}

button {
  background-color: #D62828; 
  color: #EAE2B7;
  padding: 12.8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: 'Poppins', sans-serif;
}

button:hover {
  background-color: #F77F00; 
}


.icons {
  margin-top: 32px;
}

.icons a {
  color: #003049; 
  margin: 0 10px;
  font-size: 24px;
  transition: 0.3s;
}

.icons a:hover {
  color: #D62828; 
  transform: scale(1.2);
}

