body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #EAE2B7; 
  color: #003049; 
}

header {
  background-color: #003049; 
  color: #EAE2B7; 
  padding: 20px 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 28.8px;
  color: #FCBF49;
  font-family: 'Playfair Display', serif; 
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #EAE2B7;
  font-weight: 600;
  transition: color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

nav ul li a:hover,
nav ul li a.active {
  color: #F77F00; 
}

.skills {
  text-align: center;
  padding: 80px 100px;
  background-color: #EAE2B7;
}

.skills h2 {
  color: #D62828; 
  font-size: 35.2px;
  margin-bottom: 50px;
  font-family: 'Playfair Display', serif;
}


.skillslist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.skillone {
  background-color: #F77F00; 
  color: #EAE2B7; 
  width: 220px;
  padding: 25px;
  border-radius: 12px;
  border: 4px solid #FCBF49; 
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.skillone h3 {
  font-size: 20.8px;
  margin: 0;
}

.skillone:hover {
  transform: translateY(-8px);
  background-color: #D62828; 
  border-color: #F77F00; 
}
